.area{
    display: flex;

    .areas{
        padding: 0 16px;


        .form{
            >*{
                display: block;
                margin: 8px 0;
            }

            input{

                background: white;
                border: 1px solid lightgray;
                border-radius: 4px;
                padding: 4px 8px;
            }
        }

        .item{
            min-width: 150px;
            padding: 8px 0;

            display: flex;
            justify-content: space-between;

            font-weight: 300;
            color: gray;
            cursor: pointer;

            &:hover{
                color: black;
            }

            &.active{
                font-weight: bold;
                cursor: default;
                color: black;
            }
        }
    }

    h5{
        margin: 0;
    }
}